
/* tailwind css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind css */

/* canvas and other css */

body {
	
  background-color: black;
}

/* Styling for the canvas */
canvas {
height: 13dvh;
width: 100%;
}

