
/* tailwind css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind css */

/* canvas and other css */

body {
	
  background-color: black;
}

/* Styling for the canvas */
canvas {
height: 13dvh;
width: 100%;
}

.main-news {
height: 55dvh;
margin-left: 5%;
width: 89dvw;
}

